  .btn-add-admin {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-add-admin:hover {
    background-color: #27ae60;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
